.container {
  height: 42px;
  width: 250px;
  border: 1px solid #555;
  display: flex;
  vertical-align: middle;
  line-height: 42px;
  margin: 5px;
  box-sizing: border-box;
}

.container img {
  height: 40px;
}

.avatar {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}